p
{
    color: black;
}

.color-red
{
    color: red;
}

body
{
    margin: auto;
    text-align: center
}
h1
{
    color: aquamarine;
    font-size: 35px;
    margin: 20px;
    padding: 30px;
}
.item 
{
    width: 32%;
    display: inline-block;
    text-align: center;
    margin: auto;
}
img
{
    width: 100%;
}
button 
{
    padding: 10px 15px;
    background-color: #000;
    border: none;
    border-radius: 15px;
    color: #fff;
}

.profile
{
    width: 70%;
    margin: auto;
    text-align: center;
    font-family: 'segoe ui light';
    padding: 20px;
}

.profile img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}