* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

button {
    border: none;
    background: #ff305b;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 10px;
    padding: 10px 24px;
    transition:all 0.5s ease-in-out;
    font-size: 17px;
}

a {
    text-decoration: none;
}

.container {
    background: url(images/slider-01.jpg) no-repeat center / 100% 100%;
    height: 800px;
}

.container .nav {
    padding: 0 100px;
    overflow:auto;
    background: rgba(0,0,0,0.8)
}

a.logo {
    color: #ff305b;
    display: block;
    font-size: 24px;
    font-weight: 800;
    padding: 18px 0;
    float:left;
}

.container .nav ul {
    float: right;
}

.container .nav li {
    display: inline-block;
    padding: 25px 10px;
}

.container .nav li a {
    color: #fff
}

.container .main {
    padding: 200px 0 354px;
    text-align:center;
    color:#fff;
    background:rgba(0,0,0,0.8);
}

.container .main h4 {
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
}

.container .main h1 {
    color: #ff305b;
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
}

.container .main p {
    font-size: 26px;
    text-transform: capitalize;
    color: #fff;
}

.about {
    width:1170px;
    margin: auto;
    padding:100px 0 125px;
    overflow: auto;
    box-sizing: border-box;
}

.about .image {
    float:left;
    margin-left:8.3%;
}

.about .image .border {
    border:8px solid #555555;
    border-radius: 5px;
}

.about .image .pic {
    transform: translate(24px , 24px);
    overflow: hidden;
    border-radius: 5px;
    position:relative;
}

.about .image .pic:after { 
    position:absolute;
    bottom:0;
    content:"";
    width:100%;
    height:0;
    right:0;
    left:0;
    background:rgba(0,0,0,0.57);
    transition:all 0.5s ease-in-out;
}

.about .image .pic:hover:after { 
    height:100%;
    transition:all 0.5s ease-in-out;
}

.about .image .pic img {
    width:100%;
}

.about .text {
    padding-left: 85px;
    float: left;
    width: 51%;
}

.about .text h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}

.about .text h2 span {
    text-transform:capitalize;
    color:#ff305b;
    padding-right: 13px;
}

.about .text p {
    border-bottom: 1px dashed #999999;
    margin-bottom: 25px;
    padding-bottom: 25px;
    color: #555555;
    line-height:1.5
}

.about .text ul {
    padding:0;
    list-style:none;
}

.about .text ul li {
    display:inline-block;
    width:49%;
    font-size: 17px;
    color: #7e7e7e;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 25px;
    white-space: nowrap;
}

.about .text ul li span {
    color: #333333;
    font-weight: 600;
    padding-right: 5px;
}

.about .text button:hover {
    background:#EC2403;
    transition:all 0.5s ease-in-out;
}

.services {
    padding: 100px 120px 54px;
    background:#f1f1f1;
    text-align:center;
}

.title h2 {
    text-align:center;
    font-size:40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    position:relative;
}

.title h2:after {
    width:70px;
    color:#ff305b;
    content:"";
    border:1px solid #ff305b;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    padding:4px 0 5px;
    border-left:0;
    border-right:0;
}

.title h2:before {
    width:160px;
    content:"";
    border:0.5px solid #ff305b;
    position:absolute;
    bottom:5px;;
    right:0;
    left:0;
    margin:auto;
}

.services .item {
    display:inline-block;
    width: 23%;
    padding: 5px;
}

.services .item h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top:20px;
}

.services .item p {
    color:#555;
    font-size:16px;
    line-height:1.8
}

.Portfolio {
    padding:100px 120px 54px;
}

.Portfolio .item {
    width: 345px;
    height: 258px;
    display:inline-block;
    margin:10px;
    position:relative;
}

.Portfolio .item:after {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    top:0;
    right:0;
    background:#000;
    transition:all 0.5s ease-in-out;
    opacity:0;
}

.Portfolio .item:hover:after {
    opacity:0.5;
    transition:all 0.5s ease-in-out;
}

.Portfolio .item img {
    width:100%;
}

.statistics
{
    padding:100px 54px;
    background:#f1f1f1;
}

.statistics .item
{
    text-align:center;
    width:24%;
    display:inline-block;
}

.statistics .item h4
{
    color:rgba(0,0,0,.75);
    font-size:26px;
    margin: 0 0 11px 0;
}

.statistics .item p
{
    color:#555555;
    font-size:16px;
    font-weight:600;
    margin:0
}

.feedback {
    padding:100px;
}

.feedback .content {
    margin:auto;
    width:60%;
    background:#f1f1f1;
    border-radius:5px;
    padding:40px;
    overflow:hidden;
    position: relative;
}

.feedback .content:after {
    content:"";
    position:absolute;
    top:0;
    left: -159px;
    border-color: #ff305b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 160px;
    height: 72px;
    width: 0;
    z-index: 1;
}
.feedback .img {
    border-radius:50%;
    overflow:hidden;
    float:left;
    width:110px;
    height:110px;
    z-index: 9;
    position: relative;
}

.feedback .img img {
    width:100%;
}

.feedback .text {
    float:left;
    width: 74%;
    padding-left:40px;
}

.feedback .text h4 {
    font-size: 26px;
    margin-bottom: 10px;
}

.feedback .text span {
    color:#777777;
    font-size:15px;
}

.feedback .text span img {
    position:relative;
    top:3px;
}

.feedback .text p {
    color:#555555;
    font-size:16px;
    line-height:1.5;
    font-style:italic;
    margin-top:10px;
    
}

.blog {
    padding:100px 60px; 
    background:#f1f1f1;
    text-align:center;
}

.blog .item {
    width:30%;
    display:inline-block;
    margin:10px;
    text-align:left;
}

.blog .item img  ,
.blog iframe {
    width:100%;
}

.blog .caption {
    padding:20px;
    background:#fff;
}

.blog .caption p.date {
    margin-bottom: 15px;
    color:#555555;
}

.blog .caption h4 {
    color:#333;
    font-size:24px;
    font-weight:600;
}

.blog .caption p {
    line-height:1.5;
    color:#555555;
    margin-bottom:10px;
}

.blog .caption a {
    font-size:16px;
    color: #333333;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

.blog .caption a:hover {
    color: #ff305b;
}

.contact {
    padding:100px 0;
}

.contact form {
    width:60%;
    margin:auto;
    text-align:center;
}

.contact form input {
    width:46%;
    padding:6px 12px;
    height:40px;
    border-radius:4px;
    border:1px solid #ccc;
    box-shadow:none;
    margin-right: 17px;
    color:#555;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contact input.subject {
    width:95%;
    margin-top:25px;
}

.contact textarea {
    border-radius:4px;
    border:1px solid #ccc;
    color:#555;
    padding:6px 12px;
    display: block;
    width: 95%;
    margin: 25px 10px;
    height: 100px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contact input:focus ,
.contact input:hover ,
.contact textarea:focus ,
.contact textarea:hover {
    box-shadow: none;
    color: #000000;
    outline: 0 none;
    border-color: #ff305b;
}

.contact button {
    float:left;
    margin-left:10px;
}

.footer {
    background: #333333;
    padding: 50px 0;
    text-align: center;
    color:#fff;
}

.footer span {
    color:#ff305b;
}